{{#section 'css'}}
<link rel="stylesheet" href="{{asset '/styles/index.css' 0}}">
{{/section}}

{{#section 'meta'}}
<meta name="description" content="CSBlogs.com is the blog aggregation website for Computer Scientists. Here you can find blogs from Computer Science Students, Lecturers and Practitioners."/>
{{/section}}

<div id="space-saver"></div>
{{#each posts}}
  {{> article}}
  {{#if more}}
  <label class="show-label" for="show-{{id}}">
      <p>Show {{more.length}} more posts from {{author.first_name}} {{author.last_name}}</p>
  </label>
  <input class="show-switch" type="radio" id="show-{{id}}">
  <div class="more-posts">
    {{#each more}}
      {{> article}}
    {{/each}}
  </div>
  {{/if}}
{{/each}}
<div class="nav-pages clearfix">
  {{#if hasLess}}
  <a id="newer" class="page-btn" href="/?page={{add pageNumber -1}}">
    <svg viewbox="0 0 37.62 67.32">
      <use xlink:href="{{svg 'left-arrow'}}"></use>
    </svg>
    <p>Newer</p>
  </a>
  {{/if}}
  {{#if hasMore}}
  <a id="older" class="page-btn" href="/?page={{add pageNumber 1}}">
    <p>Older</p>
    <svg viewbox="0 0 37.62 67.32">
      <use xlink:href="{{svg 'right-arrow'}}"></use>
    </svg>
  </a>
  {{/if}}
</div>
